.SliderArea {
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 15px;
    width: 100%;
    height: 50px;
    //overflow: hidden;
}

.Fill {
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px rgb(243, 111, 29);
    background-color: #ed9d2c;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.Slider {
    background-color: white;
    width: 3px;
    border-radius: 1px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}