.SliderArea {
    width: 16px;
    height: 100%;
    position: relative;
    border-radius: 15px;
    background: linear-gradient(to bottom, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%);
}

.SliderContainer {
    position: absolute;
    width: auto;
    left: -4px;
    right: -4px;
}

.Slider {
    background-color: red;
    position: absolute;
    z-index: 1;
    border-radius: 15px;
    height: 20px;
    left: 0;
    right: 0;
    top: -11px;
    border: 2px solid var(--background-white);
    -webkit-box-shadow: 0px 8px 22px 1px rgba(34, 60, 80, 0.11);
    -moz-box-shadow: 0px 8px 22px 1px rgba(34, 60, 80, 0.11);
    box-shadow: 0px 8px 22px 1px rgba(34, 60, 80, 0.11);
}