.Label {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
    padding: 15px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 15px;
}