.ToggleSwitch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 23px;
}

.ToggleSwitchInput {
    opacity: 0;
    width: 0;
    height: 0;
}

.Slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 60, 0);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.Slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.ToggleSwitchInput:checked + .Slider {
    background-color: #2de800;
}

.ToggleSwitchInput:checked + .Slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
