.select {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    font-weight: 500;
    padding: 15px;
    box-sizing: border-box;
}

.container {
    position: relative;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 15px;
    width: 100%;
    height: 50px;
}

.DropdownIcon {
    fill: var(--black);
}