.container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.popup {
    background-color: var(--box-white);
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 8px 22px 1px rgba(34, 60, 80, 0.11);
    -moz-box-shadow: 0px 8px 22px 1px rgba(34, 60, 80, 0.11);
    box-shadow: 0px 8px 22px 1px rgba(34, 60, 80, 0.11);
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
    max-height: 250px;
    overflow: hidden;
}

.popupContainer {
    display: flex;
    flex-direction: column;
    max-height: 250px;
    overflow: auto;
}

.hidden {
    opacity: 0;
}

.Wrap {
}

.WrapShow {
    display: block;
}

.WrapEntering {
    display: block;
    animation: show 0.2s forwards;
}

.WrapExiting {
    display: block;
    animation: show 0.2s reverse forwards;
}

@keyframes show {
    0% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}