.SelectList{
    display: flex;
    flex-direction: column;
}

.Item {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}

.Marker {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 4px;
    height: auto;
    background-color: var(--pink);
    border-radius: 3px;
    margin-right: -2px;
}

.ItemButton {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    text-align: left;
}

.Selected {
    font-weight: 700;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.04) 20%, var(--pink-translucent));
    box-sizing: border-box;
}