.SliderArea {
    width: 300px;
    height: 100%;
    position: relative;
}

.CommonBackground {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.Background1 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to right, white 0%, rgba(255,255,255,0) 100%);
}

.Background2 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, black 100%);
}

.SliderContainer {
    position: absolute;
}

.Slider {
    position: absolute;
    z-index: 3;
    border-radius: 15px;
    height: 20px;
    width: 20px;
    top: -11px;
    left: -11px;
    border: 2px solid var(--background-white);
}