.sidebar{
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px solid #e2dbe6;
}

.title {
    margin-bottom: 10px;
    font-size: 2em;
    font-weight: bold;
}


.item{
    font-size: 17px;
    text-decoration: none;
    font-weight: 500;
}

.items li{
    line-height: 2;
}