.widget__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.widget__value {
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 600;
    color: #bab4bd;
}

.widget__slider {
    width: 100%;
    color: white;
}

