.ColorPicker {
    display: flex;
    flex-direction: row;
    grid-gap: 20px
}

.SVArea {
    height: 250px;
    width: 250px;
    background-color: red;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.HSVArea {
    display: flex;
    flex-direction: row;
    grid-gap: 20px
}

.Background1 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to right, white 0%, rgba(255,255,255,0) 100%);
}

.Background2 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, black 100%);
}

.TextsFields {
    width: 100%;
}

.FieldTitle {
    font-size: 17px;
    font-weight: 500;
}