.app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sidebar {
    min-width: 250px;
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
}

.subcontent {
    padding-top: 30px;
    padding-left: 30px;
    height: 100%;
    overflow-y: auto;
}

.title h1 {
    text-transform: uppercase;
}



