@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:wght@900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --pink-translucent: rgba(205, 97, 203, 0.3);
    --pink: #CD61CBFF;
    --pirple: #A55FEB;
    --box-white: #efe9f0;
    --background-white: #e4deeb;
    --black: #444251;
}

* {
    margin: 0;
    padding: 0;
    color: #444251;
}

html {
    width: 100%;
    height: 100vh;
    background-color: var(--background-white);
    font-family: 'Barlow', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body, #root {
    width: 100%;
    height: 100%;
}

.widget {
    background-color: var(--box-white);
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 8px 22px 1px rgba(34, 60, 80, 0.11);
    -moz-box-shadow: 0px 8px 22px 1px rgba(34, 60, 80, 0.11);
    box-shadow: 0px 8px 22px 1px rgba(34, 60, 80, 0.11);
}

.widget__header {
   margin-bottom: 20px;
}

.widget__title {
    font-size: 23px;
    font-weight: 600;
}

.widgetContent{
    width: 100%;
}

button {
    background-color: rgba(0, 0, 0, 0); /* Green */
    border: none;
    padding: 15px 15px;
    display: inline-block;
    font-size: 17px;
    text-decoration: none;
    text-transform: none;
    width: max-content;
    border-radius: 10px;
    transition: background-color .1s ease-out 100ms
}

button:hover {
    background-color: rgba(0, 0, 0, 0.04); /* Green */
}

::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    box-shadow: 0px 0px 20px 0px var(--pirple);
    background-color: var(--pirple);
    border-radius: 2px;
    transition: background-color 2s linear;
}

input[type=text] {
    width: 100%;
    height: 50px;
    font-size: 17px;
    font-weight: 500;
    padding: 15px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 15px;
    border: none;
    outline: none !important;
    transition: box-shadow 0.2s linear;
    font-family: 'Poppins', sans-serif;
}

input[type=text]:focus {
    outline: none !important;
    border-color: var(--pink);
    box-shadow: 0 0 10px var(--pink);
}

input[type=checkbox] {
    width: 100%;
    height: 50px;
    font-size: 17px;
    font-weight: 500;
    padding: 15px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 15px;
    border: none;
    outline: none !important;
    transition: box-shadow 0.2s linear;
    font-family: 'Poppins', sans-serif;
}

input:invalid {
    border-color: red;
    box-shadow: 0 0 10px red;
}

input:invalid:focus {
    border-color: red;
    box-shadow: 0 0 10px red;
}

input[type=number] {
    width: 100%;
    height: 50px;
    font-size: 17px;
    font-weight: 500;
    padding: 15px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 15px;
    border: none;
    outline: none !important;
    transition: box-shadow 0.2s linear;
    font-family: 'Poppins', sans-serif;
}

input[type=number]:focus {
    outline: none !important;
    border-color: var(--pink);
    box-shadow: 0 0 10px var(--pink);
}