.SliderArea {
    width: 100%;
    height: 16px;
    position: relative;
}

.Fill {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 15px;
    width: 100%;
    height: 16px;
    position: relative;
}

.Slider {
    position: absolute;
    width: auto;
}

.SliderButton {
    z-index: 2;
    position: relative;
    top: -4px;
    left: -12px;
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border: none;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.SliderButton::-webkit-color-swatch {
    border: 2px solid var(--box-white);
    border-radius: 15px;
}

.SliderButton::-webkit-color-swatch-wrapper {
    padding: 0;
}